<!--EDIT LATER, THIS IS FROM ICP6-APIs-->

<nav class="navbar navbar-default background">
<div class="container-fluid">
    
    <div class="collapse navbar-collapse tx">
    <ul class="nav navbar-nav">
        <li><a routerLink="/homepage" routerLinkActive="active">Homepage</a></li>
        <li><a routerLink="/login-page" routerLinkActive="active">Login Page</a></li>
        <li><a routerLink="/register-page" routerLinkActive="active">Registration Page</a></li>
        <li><a routerLink="/recipe-lookup" routerLinkActive="active">Recipe Lookup</a></li>
        <li><a routerLink="/video-lookup" routerLinkActive="active">Video Lookup</a></li>
        <li><a routerLink="/schedule-page" routerLinkActive="active">Schedule Page</a></li>
    </ul>

    </div>
</div>
</nav> 